<div class="page-header">
	<h3>Details</h3>
</div>

<form class="form-horizontal">

	<div class="col-md-8">
		<form class="form-horizontal">
			<div class="form-group">
				<div class="col-sm-8">
					<div class="image">
					    <img class="detais" ng-src="{{post.link}}"  ng-mouseover="imageMouseOver()" ng-mouseleave="imageMouseLeave()">
					</div>
				</div>
			</div>
		</form>
	</div>
	
	<div class="col-md-4">
		<form class="form-horizontal">
			<div class="form-group">
				<b class="row col-md-12">User upload: {{username}}</b>
			</div>
			<div class="form-group">
				<p class="row col-md-12">{{post.date | date}}</p>
			</div>
			<div class="form-group">
				<p class="row col-md-12">{{post.description}}</p>
			</div>
			
			<hr/>
			<div class="form-group">
				<i class="fa fa-thumbs-o-up liked" ng-click="updateLikeAndDislike(post.likeNumber + 1, post.dislikeNumber)" aria-hidden="true"></i> <span class="liked">{{post.likeNumber}}</span>
				<i class="fa fa-thumbs-o-down disliked" ng-click="updateLikeAndDislike(post.likeNumber, post.dislikeNumber + 1)" aria-hidden="true"></i> <span class="disliked">{{post.dislikeNumber}}</span>
			</div>
			
				<div class="form-group">
				<textarea id="comment" enter-event="{{user.name}}" ng-model="comment" rows="2" placeholder="Write a comment" class="col-sm-4 form-control"></textarea>
			</div>
			
			<hr/>
			
			<!-- List Comments:<br/>
			<div ng-repeat="comment in comments">
				<div class="form-group">
					<label class="col-sm-4 label label-success">{{comment.username}}: {{comment.content}}</label>
				</div>
			</div> -->
			
			<!-- comment zone-->
			<div>
				<div ng-repeat="comment in comments">
					<div class="row comment">
						<div class="col-sm-4">
							<b class="row comment">{{comment.username}}</b>
							<p class="row comment">{{comment.date | date}}</p>
						</div>
						
						<div class="col-sm-8">
							<p class="row comment">{{comment.content}}</p>
						</div>
					</div>
					<hr />
				</div>
			</div>
			<!-- end comment zone-->
</form>