<div class="row main">
	<div class="form-group">
		<label for="imageCategories" class="col-sm-1 control-label">Categories:</label>
		<div class="col-sm-3">
			<!-- <select  id="imageCategories" ng-model="imageCategories"  class="form-control">
				<option value="">All</option>
				<option value="People">People</option>
				<option value="Building">Building</option>
				<option value="Landscape">Landscape</option>
				<option value="Nature">Nature</option>
				<option value="Animal">Animal</option>
			</select> -->
			<select id="imageCategories" name="imageCategories" ng-model="imageCategory" required
				class="form-control" ng-options="category.categoryName for category in categories">
					<option value="">All</option>
			</select>
		</div>
		
		<label for="orderBy" class="col-sm-1 control-label">Order by:</label>
		<div class="col-sm-2">
			<select  id="orderBy" ng-model="orderBy"  class="form-control">
				<option value="">None</option>
				<option value="category">Category</option>
				<option value="date">Date</option>
			</select>
		</div>
		<div class="col-sm-2">
			<select id="sort" ng-model="sort" ng-disabled="orderBy == undefined || orderBy == '' " class="form-control">
				<option value="true">None</option>
				<option value="">ASC</option>
				<option value="true">DESC</option>
			</select>
		</div>
	</div>
</div>

<div class="row main">
	<div class="form-group">
		<label for="username" class="col-sm-1 control-label">Username:</label>
		<div class="col-sm-3">
			<input id="username" ng-model="username" type="text" placeholder="Enter a user name" class="form-control" />
		</div>
		
		<div class="col-sm-4">
			<input id="limitTo" type="range" ng-model="limitTo" min="0" max="60" value="1" step="1">
		</div>
		<label for="limitTo" class="col-sm-2">Limit to: {{limitTo}}</label>

		<div class="pull-right">
			<a href="#!/uploadImage" class="btn btn-primary btnUpload" ng-show="hasRole('ROLE_ADMIN')" title="Upload">
				<span class="fa fa-upload"></span>
			</a>
		</div>
	</div>
</div>

<hr/>

<div ng-repeat="post in posts  | filter :{category:imageCategory.categoryName, username:username} | orderBy:orderBy:sort | limitTo: limitTo">
	<a href="#!/imageDetails/{{post.id}}">
		<div class="image" ng-mouseover="imageMouseOver($event)" ng-mouseleave="imageMouseLeave()">
			<img class="post" ng-src="{{post.link}}"  >
			    <div class="text hidden">
			       	<i class="fa fa-thumbs-o-up liked main" aria-hidden="true"></i> <span class="liked main">{{post.likeNumber}}</span>
					<i class="fa fa-thumbs-o-down disliked main" aria-hidden="true"></i> <span class="disliked main">{{post.dislikeNumber}}</span>
			    </div>
		    </img
	    </div>
	</a>
</div>


