<div class="pull-right">
	<a href="#!/uploadImage" class="btn btn-primary" title="Upload"><span class="fa fa-upload"></span></a>
</div>

<div class="pull-right delete">
	<a href="" ng-click="deletePosts()" class="btn btn-danger" title="Delete"><span class="fa fa-trash-o"></span></a>
</div>

<div class="page-header">
	<h3>User Repository</h3>
</div>

<div>
	<h4 ng-show="userNotHaveImage">User have no image</h4>
</div>

<div ng-repeat="post in posts">
	<div class="row">
		<div class="col-md-3 image-row">
			<input class="userRepo" type="checkbox" ng-model="post.post.selected" value={{post.post.id}}>
				<img class="image-repo" ng-src="{{post.post.link}}">
			</input>
		</div>
		
		<div class="col-md-2">
			<h4 class="row">{{post.post.date | date}}</h4>
			<p class="row">{{post.post.description}}</p>
		</div>
		
		<!-- comment zone-->
		<div class="col-md-7 comments-form">
			<div ng-repeat="comment in post.comments">
				<div class="row comment">
					<div class="col-md-4">
						<b class="row comment">{{comment.username}}</b>
						<p class="row comment">{{comment.date | date}}</p>
					</div>
					
					<div class="col-md-8">
						<p class="row comment">{{comment.content}}</p>
					</div>
				</div>
				<hr />
			</div>
		</div>
		<!-- end comment zone-->
	</div>
	<hr />
		
</div>
